{% extends "base.html" %}
{% block title %}Create Lesson{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="mb-3">
      <a href="{% url 'course_detail' course.pk %}" class="btn btn-outline-secondary">
        &larr; Back
    </a>
    </div>
    
    <h2>Create Lesson for {{ course.title }}</h2>
    <form method="POST">
        <!-- {% csrf_token %}

        <div class="mb-3">
            <label for="{{ form.title.id_for_label }}" class="form-label">Title</label>
            {{ form.title }}
        </div>

        <div class="mb-3">
            <label for="{{ form.lesson_id.id_for_label }}" class="form-label fw-semibold">Lesson ID</label>
            {{ form.lesson_id }}
        </div>

        <div class="mb-3">
            <label for="{{ form.status.id_for_label }}" class="form-label">Status</label>
            {{ form.status }}
        </div>

        <div class="mb-3">
            <label for="{{ form.lesson_point.id_for_label }}" class="form-label">Lesson Point</label>
            {{ form.lesson_point }}
        </div>

        <div class="mb-3">
            <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
            {{ form.description }}
        </div>

        <div class="mb-3">
            <label for="{{ form.objective.id_for_label }}" class="form-label">Objective</label>
            {{ form.objective }}
        </div>

        <div class="mb-3">
            <label for="{{ form.effort_per_week.id_for_label }}" class="form-label">Effort per Week (hours)</label>
            {{ form.effort_per_week }}
        </div>

        <div class="mb-3">
            <label for="{{ form.assignment.id_for_label }}" class="form-label">Assignment</label>
            {{ form.assignment }}
        </div>

        <div class="mb-3">
            <label for="{{ form.prerequisites.id_for_label }}" class="form-label">Prerequisites</label>
            {{ form.prerequisites }}
        </div> -->
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
        {% endif %}

        {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="text-danger">{{ field.errors }}</div>
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-success">Create Lesson</button>
        <a href="{% url 'course_detail' course.pk %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
